Source: awesome-config
Section: x11
Priority: optional
Maintainer: Andrew Phillips <theasp@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/theasp/awesome-config
Vcs-Git: https://github.com/theasp/awesome-config
Vcs-Browser: https://github.com/theasp/awesome-config

Package: awesome-config
Architecture: all
Depends: awesome (>= 3.4.11), lua-lgi (>= 0.5.0)
Description: Configuration library and GUI for the awesome window manager
 A library for reading a configuration file for Awesome, and a GUI to
 edit the configuration file.
